:root {
        --main-bg-color: #2D2424;
      }
body{
    
    background-color: var(--main-bg-color);
}
.face_logo{
    width: 3vw;
}
#black_jazz_logo{
    width: 5vw;


  }
 #footer{
     grid-area: footer;
 }
 .head-line{
    margin-top: 13vh;
    
  }