:root {
    --main-bg-color: #2D2424;
  }
  body{
    background-color: #2D2424;
    background-image:url(../imges/bg_aboutuss.jpg);
    background-attachment: fixed;
  }
.face_logo{
    width: 3vw;
}
#black_jazz_logo{
    width: 5vw;
  }
  
  .span-head{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  p{
     color: white;
    }
    .head-line{
      margin-top: 13vh;
}



@media screen and (max-width:600px) {
#eldad_img{
width: 70vw;
height: 60vh;
}
#black_jazz_logo{
  width: 20vw;
}
.face_logo{
  width: 7vw;
}
.like{
  width: 10vw;
}
}
       

@media screen and (min-width:600px) {
#eldad_img{
  width: 35vw;
  height: 70vh;
}
.face_logo{
  width: 3vw;
}
.like{
  width: 3vw;
}
.face_logo{
  width: 2vw;
}
#black_jazz_logo{
  width: 5vw;
}
}
       
    



