:root {
    --main-bg-color: #2D2424;
  }
  body{
    background-color: #2D2424;
  
  }

.container{
  background-image: url(../imges/background_contact.jpg);
  background-size: cover;
  height: 100vh;
}
.effect-1{
  outline: none;
}
.btn1{
  border-radius: 3px;
  background-color: #2D2424;
}
@media screen and (max-width:600px) {
    
  #black_jazz_logo{
          width: 20vw;
        }
  .face_logo{
      width: 7vw;
  }
  
  .like{
      width: 10vw;
  }
  
  }
  @media screen and (min-width:600px) {
      .face_logo{
          width: 3vw;
      }
  .like{
      width: 3vw;
  }
  .face_logo{
      width: 2vw;
  }
  #black_jazz_logo{
      width: 5vw;
    }
  }