@media screen and (max-width:600px) {
    

.face_logo{
    width: 3vw;
}

.like{
    width: 10vw;
}
}
@media screen and (min-width:600px) {
    .face_logo{
        width: 3vw;
    }
.like{
    width: 3vw;
}
}
:root {
    --main-bg-color: #2D2424;
  }
.face_logo{
    width: 3vw;
}
#black_jazz_logo{
    width: 18vw;
  }
