:root {
  --main-bg-color: #2D2424;
}
body{
  background-color: #2D2424;
 
}
.face_logo{
      width: 3vw;
  }
#black_jazz_logo{
  width: 18vw;
}
/* #collapsibleNavbar{
  /* transition: all 3s; */

/* #collapsibleNavbar:hover{
  transition: all 2s;
} */ 