:root {
  --main-bg-color: #2D2424;
}
body{
  background-color: #2D2424;
  background-image: url(/imges/home_page.jpg);
  background-size: cover;
  background-attachment:fixed ;
  background-repeat: no-repeat;
  background-position: center;
}
.face_logo{
      width: 2vw;
  }
#black_jazz_logo{
  width: 5vw;
}
#shows{
  width: 100vw;
  height: 30vh;
  filter: opacity(70%);
}