.face_logo{
    width: 3vw;
}

/* @media screen and (max-width:600px){
  header{
    height: 10vh;
  }
  img{
    justify-content: center;
  }
  .navbar{
    width: 8vw;
    height: 5vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 2s;
    z-index: 1;
  }
  .navbar:hover{
    height: 40vh;
    width: 30vw;
    font-size: medium;
  }
  .btndrop{
    width: 30vw;
    height: 10vh;
  }
  #menu_dots{
    width: 10vw;
    height:vh;
  }
}
 */





/* @media screen and (min-width:600px){
  /* #menu_pic_dots{
   display: none;
  }
  .navbar{
    display: inline-flex;
    align-items: flex-start;
  }
  header{
    display: flex;
    height: 20vh;
    justify-content: center;
  } */
  #logo{
    /* justify-content: center; */
    width: 15vw;
    height: 15vh;}

