:root {
  --main-bg-color: #2D2424;
}
body{
  background-color: #2D2424;
  background-image: url(imges/home_page.jpg);
  background-size: cover;
  background-attachment:fixed ;
  background-repeat: no-repeat;
  background-position: center;
}
.face_logo{
      width: 2vw;
  }
#black_jazz_logo{
  width: 5vw;
}
#shows{
  width: 100vw;
  height: 30vh;
  filter: opacity(70%);
}
@media screen and (max-width:600px) {
    
  #black_jazz_logo{
          width: 20vw;
        }
  .face_logo{
      width: 7vw;
  }
  
  .like{
      width: 10vw;
  }
}
@media screen and (min-width:600px) {
  .face_logo{
      width: 3vw;
  }
.like{
  width: 3vw;
}
.face_logo{
  width: 2vw;
}
#black_jazz_logo{
  width: 5vw;
}
}