:root {
  --main-bg-color: #2D2424;
}
body{
  background-color: #2D2424;
}
.face_logo{
      width: 2vw;
  }
#black_jazz_logo{
  width: 5vw;
}
.head-line{
  margin-top: 13vh;
  
}

.omer{
  width: 100vw;
  height: 30vh;
  animation-name: omerAnimation;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  background-size: cover;
  
  
}
@keyframes omerAnimation{
  0%{
    height:30vh;
    width:100vw;
    background-image: url('./imges/Burna-Boy-3.png');
  }
  25%{
    height: 30vh;
    width: 100vw;
    background-image: url('/imges/chris\ brown-2.png');
  }
  50%{
    height: 30vh;
    width: 100vw;
    background-image: url('/imges/dj\ play-1.png');
  }
  100%{
    height: 30vh;
    width: 100vw;
    background-image: url('');
  }
}